@model Project_63134214.Models.NhanVien

@{
    ViewBag.Title = "About Me";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">

            <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
                <div style="text-align: center; margin-bottom: 20px;">
                    <img src="~/Content/dist/img/avatar5.png" alt="Profile Picture" style="max-width: 200px; border-radius: 50%;" />
                    <h2>Họ tên: Nguyễn Gia Huy</h2>
                    <p>Giới tính: Nam</p>
                    <p>Email: 2003nguyengiahuy@gmail.com</p>
                    <p>Số điện thoại: 0905999005</p>
                    <p>Chức vụ: Giám đốc</p>
                </div>

                <hr style="border-top: 1px solid #ccc; margin-bottom: 20px;" />

                <div>
                    <h3>Thông tin chi tiết:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac leo eget eros congue pretium nec eget felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Donec scelerisque risus at nisi finibus, ut varius dui dictum.</p>
                    <p>Phasellus feugiat, orci at volutpat iaculis, felis enim ullamcorper ex, sit amet facilisis tortor augue id elit. Etiam condimentum feugiat ipsum, quis vehicula dolor venenatis at. Morbi nec sodales magna, eget aliquet magna.</p>
                </div>
            </div>
        </div>
    </div>
</div>
